html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  position: relative;
}

small {
  font-size: 16px;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.wrapper {
  padding: 0 60px;
}

.slider {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slider__inner {
  display: flex;
  height: 100%;
  width: 200%;
  transform: translateX(-0%);
  transition: all 300ms ease-out;
}

.slide {
  background-image: url("../images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: auto 80px;
  height: 100%;
  width: 100%;
  z-index: 1; 
}

.slide__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
}

.slide__main {
  margin: 0;
  padding: 30px 0;
  position: relative;
  background-image: url("../images/pattern-bg.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

.slide__image {
  box-shadow: 0 50px 60px -40px rgba(0, 0, 0, .5);
}

.slide__controls {
  background-color: #FFF;
  border-radius: 30px;
  bottom: 25px;
  height: 40px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 50%);
  width: 80px;
  padding: 13px;
}

.slide__controls::after {
  content: "";
  clear: both;
  display: table;
}

.slide__arrow {
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  height: 100%; 
  width: 50%;
  float: left;
}

.slide__arrow--prev {
  background-image: url("../images/icon-prev.svg");
}


.slide__arrow--next {
  background-image: url("../images/icon-next.svg");
  background-position: right;
}

.slide__content {
  text-align: center;
  padding-top: 30px;
}

.slide__content .wrapper {
  padding: 0 50px;
}

.testimonial__quote {
  background-image: url("../images/pattern-quotes.svg");
  background-position: center 10%;
  background-repeat: no-repeat;
  background-size: 50px;
  font-weight: 300;
  padding-top: 30px;
}

.testimonial__name, .testimonial__role {
  margin: 0;
  color: hsl(240, 38%, 20%);
}

.testimonial__role {
  color: hsl(240, 18%, 77%);
}

@media screen and (max-height: 650px) {
  .slider {
    overflow-y: scroll;
  }

  .slide__content {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 700px) {
  .slide__main .wrapper {
    position: relative;
    height: 500px;
  }

  small {
    font-size: 1em;
  }

  .slide__image {
    position: absolute;
    left: 50%;
    max-width: 450px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .slide__content {
    font-size: 1.5em;
  }
}


@media screen and (min-width: 1200px) {
  img {
    max-height: none;
  }

  .slide {
    background-size: 50%;
  }

  .slide__inner {
    height: 100%;
    padding: 0;
    position: relative;
  }

  .slide__main {
    padding: 30px 0;
    position: absolute;
    right: 50px;
    width: 55%;
    top: 50%;
    transform: translateY(-50%);
  }

  .slide__content {
    width: 48%;
    padding: 0;
    text-align: left;
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    padding-bottom: 100px;
  }

  .slide__controls {
    left: 35%;
    bottom: 35px;
  }

  .wrapper, .slide__content .wrapper {
    padding: 0;
    width: auto;
    height: auto;
  }

  .testimonial__name, .testimonial__role {
    float: left;
  }

  .testimonial__quote {
    margin-top: 0;
    padding-top: 100px;
    background-size:  100px;
    background-position: 15% 30%;
    line-height: 45px;
  }

  .testimonial__role {
    margin-left: 10px;
  }
}